

header {
    display: grid;
    grid-template: repeat(1, 25px) / repeat(3, 1fr);
    text-align: center;
    width: 24%;
}

body {
    display: grid;
    place-items: center; /* Centers everything in the body */
    height: 70vh; /* Full viewport height */
    margin: 0;
    
}

form {
    border-style: solid;
    border-color: #C89FA3;
    color: #C89FA3;
}

/* .priceRange fieldset {
    border-style: solid;
    border-color: #C89FA3;
    
}

.include fieldset {
    border-style: solid;
    border-color: #C89FA3;
}

.exclude fieldset {
    border-style: solid;
    border-color: #C89FA3;
} */
