body {
    max-width: 1600px;
    margin: 0 auto;
    background: grey;    
}
header {
    background: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav h1 {
    text-align: center;
}
.logo {
    width: 150px;
}

#filterbuttoncontainer {
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background: red;    
}
#content h1 {
    text-align: center;
}
#content h2 {
    text-align: center;
}
#heading3 {
    text-align: center;
}
.instruct {
    padding-left: 500px;
    padding-right: 500px;
    text-align: left;
}
footer {
    background: white;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
