.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}
.menu.show {
    display: block;
}

body {
    display:grid;
    text-align: center;
    grid-template-rows: repeat(5,1fr)
}