@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap'); 
p {
    font-family: "Playwrite GB J";
}
h1, h2, h3, h4, h5 {
    font-family: "Faculty Glyphic";
}
.menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}
.menu.show {
    display: block;
}
.logo {
    width: 150px;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background: grey;
}
header {
    background: #CC6C6C;
    
}
#filterbuttoncontainer {
    background: orange;
}
#content {
    background: red;
}

footer {
    background: white;
}