@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

header {
    display: grid;
    grid-template: repeat(3, 25px) / repeat(3, 1fr);
    text-align: center
}

.site-title {

}

.search-box {

}

