{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
    <form method="POST">
        <input type="text" name="search" placeholder="Search by ingredient..." value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

    {% if recipes %}
        <h2>Resulting Recipes</h2>
        <ul>
            {% for recipe in recipes %}
            <li>
                <strong>{{ recipe["name"] }}</strong><br>
                Ingredients:
                <ul>
                    {% for ingredient in recipe["ingredients"] %}
                    <li>{{ ingredient["name"] }} - {{ ingredient["quantity"] }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found</p>
    {% endif %}
{% endblock %}
