@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap'); 
p {
    font-family: "Playwrite GB J";
}
h1, h2, h3, h4, h5 {
    font-family: "Faculty Glyphic";
}
.logo {
    width: 150px;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    background: #A67F8E;    
}
header {
    background: #CC6C6C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header a {
    color: #2C1A1D;
}
nav h1 {
    text-align: center;
    color: #2C1A1D;
}
.logo {
    width: 150px;
}
#filterbuttoncontainer {
    background: #2C1A1D;
    display: flex;
    justify-content: center;
    align-items: center;
}
#filterButton {
    color: #2C1A1D;
    background-color: #DBB3B1;
}
#content {
    background: #A67F8E;
    color: #2C1A1D;   
}
#content h1 {
    text-align: center;
}
#content h2 {
    text-align: center;
}
#heading3 {
    text-align: center;
}
.instruct {
    padding-left: 25%;
    padding-right: 25%;
    text-align: left;
}
footer {
    background: #6C534E;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
footer p {
    color: #DBB3B1;
}
#filterButton {
    background-color:#2C1A1D;
    color: white;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
#filterButton:hover {
    background-color: #DBB3B1;
}