@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

p {
    font-family: "Playwrite GB J";
}

h1, h2, h3, h4, h5 {
    font-family: "Faculty Glyphic";
}

.logo {
    width: 150px;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background: #A67F8E;    
}
header a {
    color: #2C1A1D;
}
nav h1 {
    text-align: center;
    color: #2C1A1D;
    text-decoration: none;
}

header {
    background: #CC6C6C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#site-title {
 text-align: center;
}

.search-box {

}

.search-box input {

}

.search-box button {

}

.recipe-container {

}

p {
    
}

#recipe-output {

}

@media screen and (max-width: 600px) {

    header{
        text-align: center;
        color: black;
    }

}